body{
  display: center;
  justify-content: center;
  align-items: center;
  /* gap: 40px; */
}

a {
  padding: 10px;
}

.links-div {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row{
  width: 700px;
  column-gap: 30px;
  margin: 0 auto;
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  /* width: 20%; */
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}
.card-head{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-content{
  display: flex;
  justify-content: center;
  align-items: center;
}
