body{
  display: center;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.links-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row{
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.col{
  float: left;
  display: center;
  width: 25%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: max-content;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
}
.card-head{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-content{
  display: flex;
  justify-content: center;
  align-items: center;
}
